$violet: #2D2241;
$yellow: #F9C802;
$white: #fff;
$backgroundGradient: linear-gradient(180deg, rgba(220,20,60,1) 0%, rgba(233, 158, 135, 0.855) 50%, rgba(255,255,255,1) 100%) no-repeat;
$headerBackground: rgba(220, 20, 60, 0.89);
$maxWidth: 700px;
